
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    background-color: rgb(186, 184, 182);
  }
  
  /* Menu de navegação */
  nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f0c040;
  }
  